In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from copy import deepcopy
import os

In [2]:
file_list = os.listdir('./data')
file_list

['CE.txt',
 'CP.txt',
 'EPS1.txt',
 'FS1.txt',
 'FS2.txt',
 'profile.txt',
 'PS1.txt',
 'PS2.txt',
 'PS3.txt',
 'PS4.txt',
 'PS5.txt',
 'PS6.txt',
 'SE.txt',
 'TS1.txt',
 'TS2.txt',
 'TS3.txt',
 'TS4.txt',
 'VS1.txt']

In [3]:
# get path to raw data
data_dir = os.path.abspath('./data')

# list of dataframes
file_df = {}

In [4]:
for file in file_list:
    file_df[file[:-4]]=  pd.read_csv(f'{data_dir}/{file}', sep='\t', header=None)

In [7]:
#target rename
file_df['profile'] = (
    file_df['profile'].rename({
        0:'cooler_eff', 1:'valve_perc', 2:'pump_leak',
        3:'accu_prs', 4:'stable'
    }, axis='columns'))

In [9]:
file_df

{'CE':           0       1       2       3       4       5       6       7       8   \
 0     47.202  47.273  47.250  47.332  47.213  47.372  47.273  47.438  46.691
 1     29.208  28.822  28.805  28.922  28.591  28.643  28.216  27.812  27.514
 2     23.554  23.521  23.527  23.008  23.042  23.052  22.658  22.952  22.908
 3     21.540  21.419  21.565  20.857  21.052  21.039  20.926  20.912  20.989
 4     20.460  20.298  20.350  19.867  19.997  19.972  19.924  19.813  19.691
 ...      ...     ...     ...     ...     ...     ...     ...     ...     ...
 2200  46.798  46.688  46.699  46.844  46.819  46.725  46.713  46.832  46.727
 2201  46.477  46.525  46.013  46.349  46.345  46.286  46.156  46.406  46.188
 2202  46.757  46.863  46.756  46.863  46.816  46.813  46.863  46.863  46.849
 2203  46.584  46.469  46.538  46.538  46.477  46.432  46.491  46.514  46.539
 2204  46.770  46.539  46.479  46.525  46.804  46.454  46.491  46.595  46.595

           9   ...      50      51      52      53      54      55      56  \
 0     46.599  ...  31.554  30.953  30.639  30.561  30.368  30.224  29.790
 1     27.481  ...  23.995  24.328  24.283  23.877  23.816  23.933  23.354
 2     22.359  ...  21.711  21.564  21.564  21.526  21.753  21.749  21.802
 3     20.882  ...  20.687  20.703  20.295  20.482  20.600  20.547  20.708
 4     19.634  ...  19.887  19.919  19.696  19.634  19.747  20.005  19.919
 ...      ...  ...     ...     ...     ...     ...     ...     ...     ...
 2200  46.362  ...  46.375  46.334  46.395  46.264  46.325  46.255  46.375
 2201  45.762  ...  46.529  46.770  46.649  46.565  46.532  46.521  46.615
 2202  46.710  ...  45.886  45.715  45.683  45.836  45.943  45.774  46.051
 2203  46.432  ...  46.640  46.181  46.351  46.723  46.699  46.579  46.687
 2204  46.287  ...  46.454  46.384  46.528  46.446  46.351  46.355  46.432

           57      58      59
 0     29.261  29.287  28.866
 1     23.483  23.320  23.588
 2     21.582  21.283  21.519
 3     20.708  20.574  20.403
 4     19.736  19.977  20.016
 ...      ...     ...     ...
 2200  46.421  46.242  46.382
 2201  46.603  46.710  46.729
 2202  45.800  46.171  46.502
 2203  46.590  46.579  46.570
 2204  46.384  46.479  46.621

 [2205 rows x 60 columns],
 'CP':          0      1      2      3      4      5      6      7      8      9   \
 0     2.184  2.184  2.184  2.185  2.178  2.188  2.177  2.180  2.151  2.143
 1     1.414  1.384  1.385  1.384  1.382  1.385  1.362  1.338  1.331  1.334
 2     1.159  1.157  1.157  1.134  1.129  1.137  1.117  1.138  1.122  1.095
 3     1.101  1.086  1.107  1.075  1.073  1.067  1.070  1.077  1.061  1.065
 4     1.086  1.081  1.087  1.061  1.061  1.062  1.061  1.056  1.037  1.040
 ...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 2200  2.167  2.160  2.162  2.170  2.176  2.169  2.165  2.175  2.162  2.156
 2201  2.134  2.145  2.111  2.147  2.152  2.143  2.141  2.146  2.134  2.101
 2202  2.146  2.145  2.139  2.143  2.149  2.142  2.151  2.146  2.142  2.129
 2203  2.145  2.139  2.147  2.154  2.141  2.142  2.141  2.140  2.138  2.133
 2204  2.144  2.146  2.143  2.148  2.151  2.145  2.143  2.142  2.143  2.136

       ...     50     51     52     53     54     55     56     57     58  \
 0     ...  1.509  1.470  1.458  1.452  1.443  1.449  1.428  1.401  1.402
 1     ...  1.170  1.195  1.193  1.179  1.178  1.177  1.152  1.158  1.147
 2     ...  1.101  1.102  1.099  1.099  1.118  1.112  1.116  1.108  1.085
 3     ...  1.096  1.099  1.075  1.088  1.097  1.086  1.101  1.097  1.100
 4     ...  1.094  1.093  1.085  1.087  1.082  1.105  1.101  1.097  1.100
 ...   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 2200  ...  2.133  2.138  2.127  2.136  2.139  2.132  2.135  2.137  2.133
 2201  ...  2.139  2.148  2.132  2.129  2.144  2.134  2.125  2.126  2.140
 2202  ...  2.101  2.104  2.104  2.113  2.107  2.099  2.131  2.107  2.121
 2203  ...  2.136  2.126  2.125  2.140  2.134  2.131  2.141  2.135  2.135
 2204  ...  2.141  2.134  2.128  2.138  2.137  2.134  2.146  2.144  2.136

          59
 0     1.383
 1     1.164
 2     1.103
 3     1.091
 4     1.106
 ...     ...
 2200  2.142
 2201  2.134
 2202  2.144
 2203  2.148
 2204  2.148

 [2205 rows x 60 columns],
 'EPS1':         0       1       2       3       4       5       6       7       8     \
 0     2411.6  2411.6  2411.6  2411.6  2411.6  2411.6  2411.6  2411.6  2411.6
 1     2409.6  2409.6  2409.6  2409.6  2409.6  2409.6  2409.6  2409.6  2409.6
 2     2397.8  2397.8  2397.8  2397.8  2397.8  2397.8  2397.8  2397.8  2397.8
 3     2383.8  2383.8  2383.8  2383.8  2383.8  2383.8  2383.8  2383.8  2382.8
 4     2372.0  2372.0  2372.0  2372.0  2372.0  2372.0  2372.0  2372.0  2372.0
 ...      ...     ...     ...     ...     ...     ...     ...     ...     ...
 2200  2416.4  2416.4  2416.4  2416.4  2416.4  2416.4  2416.4  2416.4  2416.4
 2201  2415.6  2415.6  2415.6  2415.6  2415.6  2415.6  2415.6  2415.6  2415.6
 2202  2413.6  2413.6  2413.6  2413.6  2413.6  2413.6  2413.6  2413.6  2413.6
 2203  2413.6  2413.6  2413.6  2413.6  2413.6  2413.6  2413.6  2413.6  2413.6
 2204  2415.8  2415.6  2415.6  2415.6  2415.6  2415.6  2415.6  2415.6  2415.6

         9     ...    5990    5991    5992    5993    5994    5995    5996  \
 0     2409.6  ...  2409.6  2409.2  2409.6  2409.4  2409.6  2409.4  2409.6
 1     2409.6  ...  2398.8  2398.2  2398.2  2398.0  2398.0  2398.0  2398.0
 2     2395.8  ...  2383.8  2383.8  2383.8  2383.8  2383.8  2383.8  2383.8
 3     2382.8  ...  2373.2  2372.8  2372.6  2372.4  2372.2  2372.0  2372.0
 4     2373.0  ...  2370.0  2370.0  2369.8  2369.8  2369.8  2369.8  2369.6
 ...      ...  ...     ...     ...     ...     ...     ...     ...     ...
 2200  2416.4  ...  2415.6  2415.2  2415.6  2415.4  2415.6  2415.4  2415.6
 2201  2415.6  ...  2414.6  2414.6  2414.0  2414.0  2413.8  2413.8  2413.6
 2202  2413.6  ...  2413.6  2413.6  2412.6  2413.6  2413.2  2413.6  2413.4
 2203  2413.6  ...  2413.8  2413.8  2413.8  2414.8  2415.8  2415.2  2415.6
 2204  2415.6  ...  2413.8  2413.8  2413.8  2414.8  2415.8  2416.2  2416.6

         5997    5998    5999
 0     2409.6  2409.6  2409.6
 1     2397.8  2397.8  2397.8
 2     2383.8  2383.8  2383.8
 3     2372.0  2372.0  2372.0
 4     2369.6  2369.6  2369.6
 ...      ...     ...     ...
 2200  2415.6  2415.6  2415.6
 2201  2413.6  2413.6  2413.6
 2202  2413.6  2413.4  2413.6
 2203  2415.4  2415.6  2415.6
 2204  2416.8  2417.0  2417.0

 [2205 rows x 6000 columns],
 'FS1':         0      1      2      3      4      5      6      7      8      9    \
 0     8.990  0.770  0.641  0.006  0.000  0.000  0.001  0.003  0.001  0.001
 1     8.919  0.815  0.709  0.009  0.004  0.000  0.001  0.000  0.000  0.001
 2     9.179  0.683  0.528  0.008  0.003  0.001  0.003  0.003  0.004  0.006
 3     9.034  0.728  0.595  0.009  0.001  0.004  0.003  0.003  0.003  0.001
 4     8.729  0.705  0.446  0.014  0.007  0.003  0.001  0.003  0.001  0.000
 ...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 2200  8.173  1.024  0.834  0.009  0.000  0.001  0.000  0.003  0.001  0.000
 2201  8.317  0.883  0.799  0.008  0.005  0.000  0.000  0.000  0.000  0.001
 2202  8.170  0.686  0.583  0.011  0.000  0.003  0.004  0.000  0.000  0.000
 2203  8.496  0.543  0.366  0.009  0.005  0.000  0.000  0.000  0.001  0.003
 2204  8.373  0.776  0.667  0.006  0.000  0.003  0.000  0.000  0.000  0.000

       ...    590    591    592    593    594    595    596    597    598  \
 0     ...  7.743  7.992  7.919  7.773  7.955  7.823  7.963  7.876  7.738
 1     ...  7.831  8.003  7.923  7.745  7.867  7.747  7.969  7.969  7.963
 2     ...  7.862  7.815  7.894  7.743  7.936  7.770  7.982  7.873  7.898
 3     ...  7.631  7.949  7.773  8.054  7.827  8.011  7.919  7.938  7.877
 4     ...  7.771  7.936  7.919  7.946  7.804  7.983  7.838  7.882  7.894
 ...   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 2200  ...  7.904  7.777  7.938  7.841  7.741  8.004  7.869  7.719  8.003
 2201  ...  7.766  7.957  7.817  7.739  8.036  7.871  7.647  7.993  7.898
 2202  ...  7.898  7.648  7.953  7.871  7.859  7.921  7.770  7.982  7.859
 2203  ...  7.834  7.737  8.065  7.893  7.653  7.971  7.898  7.758  7.892
 2204  ...  7.866  7.716  8.068  7.861  7.707  8.029  7.814  7.783  7.943

         599
 0     8.036
 1     7.890
 2     7.952
 3     7.773
 4     7.825
 ...     ...
 2200  7.874
 2201  7.787
 2202  7.685
 2203  7.793
 2204  7.774

 [2205 rows x 600 columns],
 'FS2':          0       1       2       3       4       5       6       7       8    \
 0     10.179  10.174  10.151  10.149  10.172  10.176  10.169  10.176  10.174
 1     10.408  10.429  10.415  10.418  10.401  10.403  10.408  10.416  10.398
 2     10.392  10.386  10.404  10.391  10.387  10.422  10.414  10.414  10.441
 3     10.329  10.328  10.349  10.363  10.359  10.328  10.333  10.341  10.371
 4     10.276  10.279  10.292  10.288  10.266  10.271  10.284  10.283  10.294
 ...      ...     ...     ...     ...     ...     ...     ...     ...     ...
 2200  10.196  10.189  10.180  10.201  10.176  10.200  10.185  10.193  10.182
 2201  10.182  10.194  10.189  10.181  10.186  10.167  10.166  10.198  10.171
 2202  10.171  10.169  10.178  10.182  10.203  10.171  10.177  10.187  10.171
 2203  10.166  10.194  10.189  10.180  10.173  10.163  10.162  10.185  10.189
 2204  10.193  10.174  10.172  10.178  10.203  10.203  10.170  10.179  10.166

          9    ...     590     591     592     593     594     595     596  \
 0     10.171  ...  10.413  10.399  10.397  10.384  10.401  10.407  10.395
 1     10.417  ...  10.438  10.411  10.419  10.414  10.407  10.391  10.427
 2     10.434  ...  10.320  10.352  10.356  10.336  10.338  10.327  10.337
 3     10.329  ...  10.299  10.296  10.283  10.256  10.270  10.272  10.280
 4     10.267  ...  10.199  10.199  10.233  10.245  10.233  10.211  10.205
 ...      ...  ...     ...     ...     ...     ...     ...     ...     ...
 2200  10.190  ...  10.193  10.174  10.170  10.176  10.170  10.170  10.194
 2201  10.166  ...  10.172  10.182  10.191  10.185  10.176  10.170  10.171
 2202  10.183  ...  10.189  10.174  10.169  10.150  10.162  10.183  10.182
 2203  10.181  ...  10.187  10.198  10.185  10.185  10.189  10.189  10.172
 2204  10.176  ...  10.182  10.180  10.163  10.167  10.194  10.193  10.171

          597     598     599
 0     10.374  10.379  10.373
 1     10.411  10.434  10.391
 2     10.350  10.356  10.356
 3     10.285  10.267  10.261
 4     10.214  10.227  10.216
 ...      ...     ...     ...
 2200  10.187  10.154  10.171
 2201  10.190  10.187  10.174
 2202  10.185  10.185  10.171
 2203  10.165  10.184  10.189
 2204  10.167  10.173  10.176

 [2205 rows x 600 columns],
 'profile':       cooler_eff  valve_perc  pump_leak  accu_prs  stable
 0              3         100          0       130       1
 1              3         100          0       130       1
 2              3         100          0       130       1
 3              3         100          0       130       1
 4              3         100          0       130       1
 ...          ...         ...        ...       ...     ...
 2200         100         100          0        90       0
 2201         100         100          0        90       0
 2202         100         100          0        90       0
 2203         100         100          0        90       0
 2204         100         100          0        90       0

 [2205 rows x 5 columns],
 'PS1':         0       1       2       3       4       5       6       7       8     \
 0     151.47  151.45  151.52  151.27  150.80  150.69  153.89  154.67  152.88
 1     151.11  151.12  151.16  150.92  150.70  150.62  152.40  153.21  152.81
 2     150.81  150.79  150.84  150.65  150.35  150.23  152.03  152.81  152.44
 3     150.48  150.47  150.52  150.31  150.04  149.98  151.63  152.48  152.24
 4     150.41  150.35  150.24  150.12  149.87  149.71  151.64  152.37  151.78
 ...      ...     ...     ...     ...     ...     ...     ...     ...     ...
 2200  151.70  151.83  151.90  151.75  151.62  151.63  153.78  154.73  153.83
 2201  151.90  151.83  151.81  151.77  151.65  151.63  153.97  154.84  153.67
 2202  151.73  151.78  151.84  151.62  151.46  151.49  153.91  154.88  153.69
 2203  151.77  151.77  151.75  151.56  151.47  151.57  154.09  154.80  153.45
 2204  151.83  151.78  151.77  151.65  151.49  151.48  154.00  154.77  153.48

         9     ...    5990    5991    5992    5993    5994    5995    5996  \
 0     153.82  ...  151.16  151.19  151.25  151.16  151.10  151.16  151.14
 1     153.53  ...  150.82  150.82  150.86  150.80  150.73  150.79  150.84
 2     153.27  ...  150.49  150.44  150.47  150.46  150.38  150.47  150.50
 3     152.94  ...  150.34  150.30  150.28  150.38  150.41  150.33  150.31
 4     152.68  ...  150.31  150.20  150.17  150.28  150.31  150.25  150.27
 ...      ...  ...     ...     ...     ...     ...     ...     ...     ...
 2200  154.43  ...  151.84  151.75  151.67  151.76  151.81  151.78  151.78
 2201  154.37  ...  151.81  151.81  151.84  151.83  151.79  151.87  151.87
 2202  154.24  ...  151.73  151.66  151.73  151.71  151.68  151.79  151.84
 2203  154.21  ...  151.75  151.71  151.68  151.71  151.73  151.75  151.71
 2204  154.29  ...  151.70  151.71  151.63  151.64  151.67  151.64  151.70

         5997    5998    5999
 0     151.10  151.21  151.19
 1     150.79  150.80  150.86
 2     150.43  150.54  150.62
 3     150.31  150.25  150.28
 4     150.22  150.13  150.19
 ...      ...     ...     ...
 2200  151.83  151.84  151.86
 2201  151.75  151.77  151.78
 2202  151.73  151.73  151.83
 2203  151.68  151.71  151.78
 2204  151.73  151.71  151.70

 [2205 rows x 6000 columns],
 'PS2':         0       1       2       3       4       5       6       7       8     \
 0     125.50  125.39  125.40  125.03  124.05  123.18  104.01  56.500  23.992
 1     125.06  125.08  125.09  124.69  123.84  123.14  103.63  63.687  28.359
 2     125.13  125.27  125.23  124.74  123.94  123.23  106.35  60.516  26.258
 3     124.93  124.96  124.92  124.41  123.60  122.88  103.99  58.859  27.781
 4     124.72  124.74  124.66  124.31  123.57  122.74  105.94  62.648  30.875
 ...      ...     ...     ...     ...     ...     ...     ...     ...     ...
 2200  125.47  125.63  125.70  125.34  124.94  124.88  113.56  71.586  34.516
 2201  125.83  125.70  125.59  125.43  125.18  124.98  114.30  72.531  35.234
 2202  125.41  125.49  125.63  125.38  124.96  124.77  113.69  70.773  32.531
 2203  125.91  125.73  125.59  125.38  125.10  124.96  114.19  74.039  38.695
 2204  125.88  125.86  125.84  125.48  125.03  124.87  113.13  72.687  38.437

         9     ...    5990    5991    5992    5993    5994    5995    5996  \
 0     18.406  ...  125.02  125.00  125.10  125.09  124.98  124.91  124.98
 1     21.711  ...  124.80  124.88  125.13  125.22  125.09  124.98  125.06
 2     19.258  ...  124.61  124.69  124.74  124.71  124.59  124.64  124.74
 3     21.469  ...  124.82  124.79  124.69  124.69  124.77  124.83  124.69
 4     23.883  ...  124.80  124.67  124.49  124.56  124.69  124.62  124.45
 ...      ...  ...     ...     ...     ...     ...     ...     ...     ...
 2200  25.531  ...  125.57  125.51  125.38  125.43  125.59  125.61  125.53
 2201  26.820  ...  125.86  125.77  125.74  125.81  125.77  125.66  125.58
 2202  23.773  ...  125.66  125.73  125.77  125.81  125.94  126.04  125.98
 2203  30.125  ...  125.55  125.56  125.58  125.74  125.84  125.73  125.66
 2204  30.586  ...  125.48  125.60  125.65  125.60  125.63  125.73  125.81

         5997    5998    5999
 0     125.11  125.14  125.10
 1     125.13  125.09  125.04
 2     124.73  124.77  124.88
 3     124.53  124.51  124.59
 4     124.41  124.47  124.51
 ...      ...     ...     ...
 2200  125.50  125.60  125.73
 2201  125.58  125.55  125.44
 2202  125.84  125.84  125.94
 2203  125.73  125.86  125.91
 2204  125.77  125.66  125.77

 [2205 rows x 6000 columns],
 'PS3':        0      1      2      3      4      5      6      7     8     9     ...  \
 0     2.305  2.305  2.336  2.578  2.977  3.234  2.414  0.805     0     0  ...
 1     2.281  2.320  2.305  2.578  2.945  3.164  2.328  0.742     0     0  ...
 2     2.227  2.187  2.156  2.406  2.852  3.109  2.219  0.664     0     0  ...
 3     2.320  2.352  2.297  2.500  2.977  3.227  2.328  0.781     0     0  ...
 4     2.250  2.250  2.242  2.383  2.758  3.031  2.227  0.719     0     0  ...
 ...     ...    ...    ...    ...    ...    ...    ...    ...   ...   ...  ...
 2200  2.375  2.352  2.359  2.516  2.648  2.625  2.156  0.906     0     0  ...
 2201  2.273  2.266  2.352  2.539  2.664  2.742  2.273  0.992     0     0  ...
 2202  2.375  2.437  2.359  2.391  2.602  2.680  2.109  0.797     0     0  ...
 2203  2.305  2.414  2.469  2.523  2.680  2.711  2.078  0.766     0     0  ...
 2204  2.375  2.328  2.281  2.492  2.680  2.703  2.187  0.883     0     0  ...

        5990   5991   5992   5993   5994   5995   5996   5997   5998   5999
 0     2.336  2.391  2.375  2.297  2.328  2.383  2.328  2.250  2.250  2.211
 1     2.297  2.266  2.266  2.219  2.211  2.266  2.273  2.211  2.195  2.219
 2     2.359  2.391  2.391  2.375  2.375  2.375  2.305  2.305  2.320  2.266
 3     2.117  2.219  2.281  2.227  2.164  2.164  2.219  2.250  2.273  2.273
 4     2.141  2.172  2.187  2.227  2.219  2.211  2.242  2.219  2.227  2.297
 ...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 2200  2.328  2.305  2.328  2.359  2.375  2.281  2.242  2.250  2.266  2.273
 2201  2.273  2.383  2.359  2.297  2.297  2.336  2.406  2.461  2.461  2.406
 2202  2.227  2.242  2.219  2.211  2.273  2.273  2.250  2.219  2.219  2.250
 2203  2.328  2.328  2.328  2.281  2.266  2.305  2.281  2.250  2.242  2.281
 2204  2.336  2.336  2.250  2.195  2.266  2.305  2.320  2.273  2.227  2.250

 [2205 rows x 6000 columns],
 'PS4':         0       1       2       3       4       5       6       7       8     \
 0      0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000
 1      0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000
 2      0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000
 3      0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000
 4      0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000
 ...      ...     ...     ...     ...     ...     ...     ...     ...     ...
 2200  10.185  10.191  10.185  10.225  10.222  10.229  10.222  10.198  10.204
 2201  10.204  10.160  10.179  10.184  10.195  10.233  10.222  10.237  10.209
 2202  10.216  10.211  10.231  10.198  10.203  10.193  10.167  10.196  10.189
 2203  10.212  10.212  10.169  10.192  10.182  10.193  10.227  10.212  10.229
 2204  10.201  10.234  10.226  10.255  10.230  10.217  10.209  10.179  10.204

         9     ...    5990    5991    5992    5993    5994    5995    5996  \
 0      0.000  ...   0.000   0.000   0.000   0.000   0.000   0.000   0.000
 1      0.000  ...   0.000   0.000   0.000   0.000   0.000   0.000   0.000
 2      0.000  ...   0.000   0.000   0.000   0.000   0.000   0.000   0.000
 3      0.000  ...   0.000   0.000   0.000   0.000   0.000   0.000   0.000
 4      0.000  ...   0.000   0.000   0.000   0.000   0.000   0.000   0.000
 ...      ...  ...     ...     ...     ...     ...     ...     ...     ...
 2200  10.166  ...  10.225  10.189  10.195  10.179  10.171  10.206  10.207
 2201  10.187  ...  10.201  10.195  10.231  10.226  10.235  10.217  10.178
 2202  10.218  ...  10.212  10.237  10.203  10.185  10.190  10.167  10.198
 2203  10.195  ...  10.187  10.206  10.195  10.235  10.236  10.234  10.227
 2204  10.203  ...  10.198  10.192  10.198  10.174  10.209  10.204  10.238

         5997    5998    5999
 0      0.000   0.000   0.000
 1      0.000   0.000   0.000
 2      0.000   0.000   0.000
 3      0.000   0.000   0.000
 4      0.000   0.000   0.000
 ...      ...     ...     ...
 2200  10.235  10.223  10.207
 2201  10.195  10.173  10.193
 2202  10.205  10.229  10.246

In [ ]:
#평균 데이터

In [100]:
tmp_mean = pd.DataFrame(columns = file_df.keys())
for i in file_df.keys():
    tmp_mean[i] = np.mean(file_df[i],axis=1)

tmp_mean = tmp_mean.drop('profile',axis=1)
tmp_mean

,CE,CP,EPS1,FS1,FS2,PS1,PS2,PS3,PS4,PS5,PS6,SE,TS1,TS2,TS3,TS4,VS1
0,39.601350,1.862750,2538.929167,6.709815,10.304592,160.673492,109.466914,1.991475,0.000000,9.842170,9.728097,59.157183,35.621983,40.978767,38.471017,31.745250,0.576950
1,25.786433,1.255550,2531.498900,6.715315,10.403098,160.603320,109.354890,1.976234,0.000000,9.635142,9.529488,59.335617,36.676967,41.532767,38.978967,34.493867,0.565850
2,22.218233,1.113217,2519.928000,6.718522,10.366250,160.347720,109.158845,1.972224,0.000000,9.530548,9.427949,59.543150,37.880800,42.442450,39.631950,35.646150,0.576533
3,20.459817,1.062150,2511.541633,6.720565,10.302678,160.188088,109.064807,1.946575,0.000000,9.438827,9.337430,59.794900,38.879050,43.403983,40.403383,36.579467,0.569267
4,19.787017,1.070467,2503.449500,6.690308,10.237750,160.000472,108.931434,1.922707,0.000000,9.358762,9.260636,59.455267,39.803917,44.332750,41.310550,37.427900,0.577367
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2200,46.628517,2.160600,2543.911033,6.689930,10.184515,161.227572,109.779581,2.001438,10.202473,9.972037,9.850361,59.033100,35.313783,40.874800,38.269267,30.404733,0.550833
2201,46.689817,2.151450,2543.411333,6.692182,10.177767,161.206070,109.787481,1.998781,10.197919,9.966184,9.844854,59.068000,35.321600,40.868883,38.268250,30.416233,0.547483
2202,46.472300,2.143300,2542.729767,6.693277,10.176172,161.192120,109.756174,1.993436,10.196824,9.964329,9.842628,59.132350,35.319183,40.875950,38.246367,30.426250,0.545233
2203,46.544967,2.148483,2544.046333,6.684128,10.178353,161.208917,109.793884,2.007077,10.198588,9.968232,9.846690,58.970800,35.324767,40.876067,38.245733,30.414283,0.537017
2204,46.647933,2.157050,2543.818300,6.692302,10.183393,161.217128,109.792177,2.002690,10.203126,9.973638,9.851949,59.053900,35.322233,40.859400,38.248917,30.390800,0.546583

In [101]:
data_mean = tmp_mean.join(file_df['profile'], how='right')
data_mean

,CE,CP,EPS1,FS1,FS2,PS1,PS2,PS3,PS4,PS5,...,TS1,TS2,TS3,TS4,VS1,cooler_eff,valve_perc,pump_leak,accu_prs,stable
0,39.601350,1.862750,2538.929167,6.709815,10.304592,160.673492,109.466914,1.991475,0.000000,9.842170,...,35.621983,40.978767,38.471017,31.745250,0.576950,3,100,0,130,1
1,25.786433,1.255550,2531.498900,6.715315,10.403098,160.603320,109.354890,1.976234,0.000000,9.635142,...,36.676967,41.532767,38.978967,34.493867,0.565850,3,100,0,130,1
2,22.218233,1.113217,2519.928000,6.718522,10.366250,160.347720,109.158845,1.972224,0.000000,9.530548,...,37.880800,42.442450,39.631950,35.646150,0.576533,3,100,0,130,1
3,20.459817,1.062150,2511.541633,6.720565,10.302678,160.188088,109.064807,1.946575,0.000000,9.438827,...,38.879050,43.403983,40.403383,36.579467,0.569267,3,100,0,130,1
4,19.787017,1.070467,2503.449500,6.690308,10.237750,160.000472,108.931434,1.922707,0.000000,9.358762,...,39.803917,44.332750,41.310550,37.427900,0.577367,3,100,0,130,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2200,46.628517,2.160600,2543.911033,6.689930,10.184515,161.227572,109.779581,2.001438,10.202473,9.972037,...,35.313783,40.874800,38.269267,30.404733,0.550833,100,100,0,90,0
2201,46.689817,2.151450,2543.411333,6.692182,10.177767,161.206070,109.787481,1.998781,10.197919,9.966184,...,35.321600,40.868883,38.268250,30.416233,0.547483,100,100,0,90,0
2202,46.472300,2.143300,2542.729767,6.693277,10.176172,161.192120,109.756174,1.993436,10.196824,9.964329,...,35.319183,40.875950,38.246367,30.426250,0.545233,100,100,0,90,0
2203,46.544967,2.148483,2544.046333,6.684128,10.178353,161.208917,109.793884,2.007077,10.198588,9.968232,...,35.324767,40.876067,38.245733,30.414283,0.537017,100,100,0,90,0
2204,46.647933,2.157050,2543.818300,6.692302,10.183393,161.217128,109.792177,2.002690,10.203126,9.973638,...,35.322233,40.859400,38.248917,30.390800,0.546583,100,100,0,90,0

In [102]:
data_mean.to_csv('data_mean.csv',index=False)

In [ ]:
# 중앙값 데이터

In [103]:
tmp_med = pd.DataFrame(columns = file_df.keys())
for i in file_df.keys():
    tmp_med[i] = np.median(file_df[i],axis=1)

tmp_med = tmp_med.drop('profile',axis=1)
tmp_med

,CE,CP,EPS1,FS1,FS2,PS1,PS2,PS3,PS4,PS5,PS6,SE,TS1,TS2,TS3,TS4,VS1
0,40.6755,1.9240,2479.8,7.8360,10.327,156.25,129.365,2.297,0.000,9.844,9.733,68.5145,35.5720,40.9630,38.4960,31.576,0.5770
1,25.3855,1.2340,2470.0,7.8530,10.403,156.06,129.385,2.273,0.000,9.632,9.526,68.5360,36.7675,41.5180,38.9845,34.553,0.5595
2,22.1040,1.1095,2457.4,7.8470,10.367,155.72,129.325,2.273,0.000,9.528,9.425,68.8530,38.0235,42.4235,39.6270,35.635,0.5620
3,20.4805,1.0660,2448.0,7.8430,10.302,155.56,128.865,2.242,0.000,9.436,9.335,69.0060,39.0550,43.3650,40.3420,36.635,0.5550
4,19.7985,1.0725,2440.6,7.8310,10.236,155.34,129.000,2.219,0.000,9.358,9.260,69.0130,39.9670,44.3355,41.3400,37.439,0.5760
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2200,46.6335,2.1615,2481.6,7.8395,10.185,156.59,130.300,2.320,10.202,9.970,9.849,68.4505,35.4100,40.8790,38.2620,30.395,0.5485
2201,46.6510,2.1485,2481.6,7.8340,10.178,156.55,130.275,2.320,10.198,9.965,9.844,68.4075,35.3765,40.8710,38.2620,30.395,0.5425
2202,46.7005,2.1425,2480.6,7.8330,10.177,156.56,130.250,2.305,10.196,9.964,9.842,68.3130,35.4060,40.8790,38.2420,30.406,0.5440
2203,46.5490,2.1480,2481.8,7.8235,10.180,156.58,130.300,2.328,10.198,9.967,9.846,68.3500,35.4120,40.8930,38.2460,30.402,0.5350
2204,46.6035,2.1495,2483.4,7.8370,10.184,156.60,130.340,2.320,10.204,9.972,9.851,68.3705,35.3945,40.8400,38.1950,30.391,0.5405

In [104]:
data_med = tmp_med.join(file_df['profile'], how='right')
data_med

,CE,CP,EPS1,FS1,FS2,PS1,PS2,PS3,PS4,PS5,...,TS1,TS2,TS3,TS4,VS1,cooler_eff,valve_perc,pump_leak,accu_prs,stable
0,40.6755,1.9240,2479.8,7.8360,10.327,156.25,129.365,2.297,0.000,9.844,...,35.5720,40.9630,38.4960,31.576,0.5770,3,100,0,130,1
1,25.3855,1.2340,2470.0,7.8530,10.403,156.06,129.385,2.273,0.000,9.632,...,36.7675,41.5180,38.9845,34.553,0.5595,3,100,0,130,1
2,22.1040,1.1095,2457.4,7.8470,10.367,155.72,129.325,2.273,0.000,9.528,...,38.0235,42.4235,39.6270,35.635,0.5620,3,100,0,130,1
3,20.4805,1.0660,2448.0,7.8430,10.302,155.56,128.865,2.242,0.000,9.436,...,39.0550,43.3650,40.3420,36.635,0.5550,3,100,0,130,1
4,19.7985,1.0725,2440.6,7.8310,10.236,155.34,129.000,2.219,0.000,9.358,...,39.9670,44.3355,41.3400,37.439,0.5760,3,100,0,130,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2200,46.6335,2.1615,2481.6,7.8395,10.185,156.59,130.300,2.320,10.202,9.970,...,35.4100,40.8790,38.2620,30.395,0.5485,100,100,0,90,0
2201,46.6510,2.1485,2481.6,7.8340,10.178,156.55,130.275,2.320,10.198,9.965,...,35.3765,40.8710,38.2620,30.395,0.5425,100,100,0,90,0
2202,46.7005,2.1425,2480.6,7.8330,10.177,156.56,130.250,2.305,10.196,9.964,...,35.4060,40.8790,38.2420,30.406,0.5440,100,100,0,90,0
2203,46.5490,2.1480,2481.8,7.8235,10.180,156.58,130.300,2.328,10.198,9.967,...,35.4120,40.8930,38.2460,30.402,0.5350,100,100,0,90,0
2204,46.6035,2.1495,2483.4,7.8370,10.184,156.60,130.340,2.320,10.204,9.972,...,35.3945,40.8400,38.1950,30.391,0.5405,100,100,0,90,0

In [105]:
data_med.to_csv('data_median.csv',index=False)